[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyannote-audio = "*"
huggingface-hub = "*"
typer = "*"
torch = "*"
torchaudio = "*"
whisperx = "*"

[dev-packages]

[requires]
python_version = "3.10"
